.hidden{
	display: none;
}
.right{
	float: right;
}
.error{
	color: red
}

.filters__button--desc{
	transform: rotate(180deg);
}

.comment__text strong{
    font-family: "PT Serif Caption",serif;
    font-weight: 100;
}
.comment__text span{
	display: block;
	margin-bottom: 10px;
}

.form_popup_sms__text {
	font-size: 20px;
	line-height: 32px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 40px;
}
.bx_register_resend_text {
	color: rgba(51, 51, 51, 0.7);
}
#bx_register_resend_link {
    font-weight: 500;
    text-transform: uppercase;
    color: #BD9467;
}

.password_show {
	display: inline-block;
	width: 34px;
	height: 34px;
	background-image: url('../images/show-phone-2.svg');
	background-position: center;
	background-size: 24px auto;
	background-repeat: no-repeat;
	cursor: pointer;
	position: absolute;
	right: 7px;
	bottom: 7px;
	transition: all 0.2s ease-in-out;
}
	#regPass[type="text"] + .password_show {
		background-image: url('../images/show-phone-1.svg');
	}